.tile {
  height: 200px;
  width:200px;
    /*border: 8px solid blue;*/
}


.tile #image{
    position:static;
    height:200px;
  width:inherit;
    /*z-index: -1;*/

}

.tile .text{
    position:static;
    /*border: 1px solid green;*/
    width:inherit;
    height:10%;
    background-color:transparent;


}

.tile .text p{
    border: 3px solid transparent;
    width:inherit;
    background-color:darkgray;
    position:relative;
    top:950%;
    text-align:left;
    opacity: 0.5;
}

